.bounce {
  opacity: 0;
  transform: translateY(-100%);
  @include transition(opacity 1s, transform 1s);
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-width {
  @include transition(max-width .3s, flex .3s);
}
