.body-fix {
  height: 100vh;
  overflow: hidden;
}

.body-bgc {
  background-color: #eee;
}

.root,
.root-container {
  position: relative;
}

.root-content {
  height: 100vh;
}

.container {
  &.make-col {
    margin-top: 20px;
  }
}
