.body-fix {
  height: 100vh;
  overflow: hidden;
}

.body-bgc {
  background-color: #eee;
}

.root,
.root-container {
  position: relative;
}

.root-content {
  height: 100vh;
}

.container {
  &.make-col {
    display: flex;
    margin-top: 20px;
  }
}

.normal-content {
  width: calc(100% - 350px);
  padding: {
    left: 15px;
    right: 15px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
