.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
}

.header-nav-menu {
  display: flex;
  margin: {
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
  }
  padding: 0;
  list-style: none;
  @include media-breakpoint-down(md) {
    margin: {
      right: auto;
    }
  }
}

.header-nav-link {
  font-size: 1.25rem;
  display: block;
  color: #6c6c6c;
  padding: .5rem 1rem;
  @include hover {
    color: #9d30a1;
  }
}

.header-title-img {
  > img {
    width: 400px;
    @include media-breakpoint-down(xs) {
      width: 300px;
    }
  }
}

.header-title-text,
.header-title-img {
  text-align: center;
}

.header-title-text {
  > h1 {
    color: #9d30a1;
    text-transform: uppercase;
  }
}

.header-title-caption {
  font-size: 80%;
}

